@charset "UTF-8";

/* 라이브러리 */
.line-clamp-3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.row-span-7 {
  grid-row: span 7 / span 7;
}

.row-span-8 {
  grid-row: span 8 / span 8;
}

@media (max-width: 640px) {
  .sm\:col-span-3 {
    grid-column: span 3 / span 3;
  }
}

/* 커스텀 */
:root {
  --card-title_height: 40px;
  --card-title_left-btn-cell-width: 50px;
}

body {
  color:#666;
}

.page-menu {
  display: flex;
  justify-content: center;
  padding: 30px 0;
}

.card-title {
  background-color: rgb(87, 13, 248);
  color: white;
  text-align: center;
  height: var(--card-title_height);
  position: absolute;
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns:
    var(--card-title_left-btn-cell-width) auto
    var(--card-title_left-btn-cell-width);
}

.card-title > span:first-child {
  text-align: left;
  padding-left: 22px;
}

.card-title + * {
  margin-top: var(--card-title_height);
}

@media (max-width: 480px) {
  .card-wrap.max-w-md {
    max-width:none;
  }

  .card-wrap.max-w-md > .card {
    overflow: visible;
    border-radius:0;
  }
}

.btns {
  margin-top:10px;	
}

/* 모바일 사이드바 시작 */
.mobile-side-bar {
  top:0;
  left:0;
  width:100%;
  height:100%;
  transform:translateY(-100%);
  transition: transform 0.3s;
}

.mobile-side-bar.active {
  transform:translateY(0);
}

@media (max-width: 767px) {
  html.mobile-side-bar-actived,
  html.mobile-side-bar-actived > body {
    overflow:hidden;
  }  
}
/* 모바일 사이드바 끝 */